<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
  <a class="navbar-brand">
    <img src="./assets/img/MongoDB%20Logo%202x.svg" style="max-height: 3rem;" class="navbar-brand-img h-100" alt="main_logo">
    <span class="ms-1 h4 font-weight-bold text-white">SA Account Portal</span>
  </a>
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="#" [routerLink]="['workload']" routerLinkActive="active" class="nav-link text-white">Workloads</a>
        </li>
        <li class="nav-item">
          <a aria-current="page" [routerLink]="['champion']" routerLinkActive="active" class="nav-link text-white">Champions</a>
        </li>
        <li class="nav-item">
          <a href="#" [routerLink]="['account']" routerLinkActive="active" class="nav-link text-white">Account Management</a>
        </li>

      </ul>
      <!--<div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="bg-white border-radius-lg d-flex me-2">
          <input type="text" class="form-control border-0 ps-3" placeholder="Search..">
          <button class="btn bg-gradient-dark my-1 me-1">Search</button>
        </div>
      </div>-->
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a href="#" (click)="signIn()" class="nav-link text-white font-weight-bold px-0" *ngIf="!isAuthenticated$">
            <i class="bi bi-person me-sm-1"></i>
            <span class="d-sm-inline d-none">Sign In</span>
          </a>
          <a href="#" class="nav-link text-white font-weight-bold px-0" *ngIf="isAuthenticated$" [routerLink]="['profile']">
            <i class="bi bi-person me-sm-1"></i>
            <span class="d-sm-inline d-none">Profile</span>
          </a>
        </li>
        <!--<li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
              <i class="sidenav-toggler-line bg-white"></i>
            </div>
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</nav>
