<div class="card shadow-lg mx-4">
  <div class="card-header">
    <div class="row">
      <div class="col-2">
        <span class="card-title h5">Workloads</span>
      </div>
      <div class="align-items-end col-9">
        <form [formGroup]="searchForm" (ngSubmit)="workloadSearch()">
          <div class="bg-white border-radius-lg d-flex me-2">
            <input type="text" class="form-control border-opacity-25 ps-3" formControlName="workload_name" placeholder="Search..">
            <button class="btn bg-gradient-dark my-1 me-1" type="submit" [disabled]="searchForm.invalid">Search</button>
          </div>
        </form>
      </div>
      <div class="col-1 align-items-start align-baseline">
        <a href="#" [routerLink]="['new']" class="btn btn-success align-items-end mt-1">New</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Org</th>
            <th>Description</th>
            <th>Live</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let workload of workloads | async; index as i">
            <tr (click)="isCollapsed[i] = ! isCollapsed[i]">
              <td><a href="#" [routerLink]="['/workload', workload.id]">{{workload.name}}</a></td>
              <td>{{workload.org.name}}</td>
              <td class="text-truncate">{{workload.description | slice:0:40}}</td>
              <td>{{workload.inProduction}}</td>
              <td>{{workload.workloadType}}</td>
            </tr>
            <tr #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed[i]">
              <td colspan="5">
                <div class="d-flex px-2 py-1">
                  {{ workload.description}}
                </div>
              </td>
            </tr>
            </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">

  </div>
</div>

